<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.peeeq.reciper">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".recipeslist.ui.RecipesListActivity"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>
