<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.peeeq.reciper.details">

    <application android:label="@string/module_name"
                 tools:replace="android:label">
        <activity
            android:name=".ui.DetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.StatusBarTranslucent">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="reciper-dispatcher"
                    android:host="reciper.peeq.com"
                    android:path="/details"/>
            </intent-filter>

        </activity>
    </application>

</manifest>